@media  screen and (max-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    
}


@media screen and (max-width: 992px)
{   
    body {
        overflow-x:hidden;
    }
    .logo {
        left: 15px;
    }
     /* ==================
        Navbar 
        ================== */
    .mobile-nav-btn {
        display: block;
        z-index: 9;

    }
    .header {

        width: 100%;
        
    }
    .navbar {

        width: 100%;
        height: 100vh;
        background-color: #000;
        position: absolute;
        top: 0px;
        left: 0px;

        display: flex;
        justify-content: center;
        align-items: center;

        /* to get transition  */
        transform: translateX(100%);
        transition: 0.5s linear;

        opacity: 0;
        visibility: hidden;
        
    }
    .nav-list {

        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 200px;
        margin: 0;
        padding: 0;
    }
    .nav-list li {
        float: none;
    }
    .nav-link {

        
        color: #fff !important;
        padding: 0px;
        z-index:1;
        padding: 10px 0px;

    }
    .nav-link:hover,
    .nav-link:active {

    color: #ffbd39 !important;
    }
    .nav-link:hover::before {
        width: 0;
    }
    .active .navbar { 

        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .mobile-nav-btn .mobile-nav-icon[name="close-outline"]{

        display: block;
    }

    .active .mobile-nav-btn .mobile-nav-icon[name="menu-outline"]{

        display: none;
    }


    /* =============
            sec1 home 
        =============*/
    .container {
        max-width: 960px !important;
    }
    
    .sec1_right img {
        display: none;

    }
    .sec1_right {
        width: 660px;
        height: 740px;
        background-image: url('../image/img1034.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        top: -150px;
        right: 0px;
        z-index: -1;
        float: right;
    }
    /* =============
    sec3 resume 
    ============= */
    .sec3 .row {
        margin: 0 !important;
        
    }

    .sec7 {
        height: auto;
        padding-bottom: 50px;
    }
    
    .blog-card {
        width: 100%;

    }
    .blog-card-img {
        width: 100%;
    }
    .counter-box {
        width: 100%;
        top: 120px;
    }
    .blog-card-last{
        margin: auto;
    }

    footer {
        height: auto;
    }


    
}

@media screen and (max-width: 768px){

    /* =============
            sec1 home 
        =============*/
    .container {
        max-width: 700px !important;
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
    }
    .sec_heading .title {
        font-size: 47px;
    }
    .sec1 {

        background-image: url('../image/img1033.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 800px;
    }
    .sec1_right {
        display: none;
    }
    .sec1_left {
        
        margin-top: 100px;
    }
    .sec1_left .title {
        font-size: 50px;
    }

    /* =============
        sec2 about 
        ============= */
    .sec2 {
        height: 700px;
        position: relative;
        top: 0px;

    }
    .sec2_left {
        display: none;
    }
    .sec2_right .title {
        font-size: 50px;
    }
    .sec2_right .title-background {
        font-size: 75px;
        top: 132px;
    }
    .counter-box {
        margin-bottom: 20px;
        position:relative;
        top: 0px;
    }
    .sec5 {
        height: 950px;
    }
    .sec7 {
        height: auto;
        padding-bottom: 100px;
    }
    .sec8 {
        height: 500px;
    }
    .btn-hireme2 {
        padding: 12px 36px !important;
        font-size: 14px;
        border-radius: 36px;
        z-index: 1;
    }
    
    .sec9 {
        height: auto;
        padding-bottom: 50px;
    }
    .form-sec-img {
        display: none;
    }
    form {
        padding: 20px;
    }
    .btn-send {
        
        position: relative;
        left: 50%;
        margin-left: -77px;
    }
    footer {
        height: 1200px;
      }
}


@media screen and (max-width: 576px) {
    
    .container {
        max-width: 520px !important;
        
    }
    .counter-box {
        margin-bottom: 10px;
    }
    .sec8 {
        height: 500px;
    }

}